<span th:replace="~{fragments/header}"></span>
<!-- Navigation-->
<span th:replace="~{fragments/menuHome}" th:with="selectedCountry=${selectedCountry},categories=${categories}"> </span>

<section>
    <div class="container px-4 px-lg-5 my-5">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <h1 class="display-4 fw-bolder" th:text="${title}"></h1>
                <p class="lead fw-normal  mb-0">Login to access your account and orders.</p>
                <hr>
                <form action="/auth/authenticate" class="row" method="post">

                    <div class="form-group col-6">
                        <label class="form-label mt-4">Email</label>
                        <input type="email" class="form-control" name="email" placeholder="Enter email" required>
                    </div>
                    <div class="form-group col-6">
                        <label class="form-label mt-4">Password</label>
                        <input type="password" class="form-control" name="password" placeholder="Enter password"
                               required>
                    </div>
                    <div class="mt-2">
                        <p>You dont have an account?
                            <a href="/auth/signup" >Create account here.</a>
                        </p>
                    </div>
                    <hr>
                    <button type="submit" class="btn btn-primary col-12 mt-2">Login</button>
                </form>
            </div>

            <div class="col-md-6 col-sm-12 mt-4">
                <span th:replace="~{fragments/alerts}" th:with="alert=${alert},alertText=${alertText}"> </span>
            </div>
        </div>

    </div>
</section>


<!-- Section-->
<section class="py-2">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row">


        </div>
    </div>
</section>
<!-- Footer-->
<span th:replace="~{fragments/footer}"></span>